The objective of this experimental study is to investigate the impact of different loss rates and loss distributions on network traffic.

| ID  | code schema     | loss rate | throughput | link rate | latency | reliability | feedback     |
| --- | --------------- | --------- | ---------- | --------- | ------- | ----------- | ------------ |
| 1   | ordinary random | 0         |            |           |         |             | restricted   |
| 2   | ordinary random | 5         |            |           |         |             | restricted   |
| 3   | ordinary random | 10        |            |           |         |             | restricted   |
| 4   | ordinary random | 15        |            |           |         |             | restricted   |
| 5   | ordinary random | 20        |            |           |         |             | restricted   |
| 6   | ordinary random | 0         |            |           |         | 100%        | unrestricted |
| 7   | ordinary random | 5         |            |           |         | 100%        | unrestricted |
| 8   | ordinary random | 10        |            |           |         | 100%        | unrestricted |
| 9   | ordinary random | 15        |            |           |         | 100%        | unrestricted |
| 10  | ordinary random | 20        |            |           |         | 100%        | unrestricted |
